

.product-main-container{
    width:100%;
    min-height:80vh;
}
.product-title{
    width:100%;
    height:10vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-title > h1{
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* product-category-container */


.product-category-container{
    width:100%;
    height:15vh;

    display: flex;
    justify-content: center;
    align-items:flex-end;

}
.product-category-container > div{
    cursor: pointer;
}
.product-category-container >div> h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2rem;
    margin:0px 10px;
    color:grey;
    

}
/* end here */



/* product-list */


.product-list{
    width:90%;
    margin:auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:20px;
    margin-bottom:50px;
}

.product-box{

    width:16%;
    margin:5px 3px;
    position: relative;
    /* background-color: rgb(243, 243, 243); */
}
.product-img{
    width:100%;
   
}
.product-img >img{
    width:100%;
    min-height:250px;
    object-fit: cover;
    filter:brightness(0.7);
    border-radius:5px;

}
.product-name{
    position:absolute;
    bottom:20px;
    left:0px;
    background-color:rgb(255, 90, 90);
    padding:5px 10px;
    
}
.product-name > h1{
    font-size:0.9rem;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
/* end here */